.go-top{
    border-radius:3px;
    box-shadow:0 0 3px rgba(0,0,0,0.2);
    width:40px;
    height:40px;
    background:url(img/go_top.png) no-repeat center center #fff;
    display:block;
    position:fixed;
    bottom:5px;
    right:-70px;
    z-index:20;
    cursor:pointer;
    border:none;
}

.go-top:active{
    bottom:5px;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
}