<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('images/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">{{title}}</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="block">
	<div class="content content-boxed"> 
		<h1>
			List group
		</h1>
		<div class="block-header">			
			<div class="block-options">
				<button class="btn btn-minw btn-rounded btn-default" type="button" data-toggle="modal" data-target="#modal-addgroup" ng-click="createDeviceCode()"><i class="glyphicon glyphicon-save fa-2x"></i> ADD GROUP</button>
			</div>			
		</div>
		<br/>
		<div>
			<table class="table table-bordered">
				<thead>
					<tr class="success">
						<th style="vertical-align: middle;text-align: center;">Group ID</th>
						<th>Group Name</th>
						<th>Description</th>
						<th style="vertical-align: middle; text-align: center;">Total devices</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in data">
						<td style="vertical-align: middle;text-align: center;">{{x.id}}</td>
						<td style="vertical-align: middle;">{{x.name}}</td>
						<td style="vertical-align: middle;">{{x.description}}</td>
						<td style="vertical-align: middle; text-align: center;">{{x.numDevice}}</td>
						<td style="vertical-align: middle; text-align: center;">
							<button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#modal-editgroup" title="" data-original-title="Edit Client" ng-click="getGroupInformation(x.id, x.name, x.description)"><i class="fa fa-pencil"></i></button>
							<button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#modal-deletegroup" title="" data-original-title="Remove Client" ng-click="getGroupInformation(x.id, x.name, x.description)"><i class="fa fa-times"></i></button>
						</td>
					</tr>               
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- END Page Content -->

<!-- Small Modal deletegroup -->
<div class="modal" id="modal-deletegroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Confirm</h3>
                </div>
                <div class="block-content">
                    <p>
                        Bạn có muốn xóa Group <br/>[<i>id: <b>{{edithomeID}}</b>, name: <b>{{editgroupName}}</b></i>]?
                    </p>
                    <p>
                        <b>(*)Ghi chú</b>: nếu bạn xóa group này thì các THIẾT BỊ trong group cũng bị xóa.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click="deletegroup()" data-target="#modal-popup"><i class="fa fa-check"></i> Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- END Small Modal deletegroup -->


<!-- Fade In Modal view warning -->
<div class="modal" id="modal-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">popup</h3>
                </div>
                <div class="block-content">
                    <div class="block-content block-content-narrow">
                        ffffffffffffffffffff
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- END Fade In Modal view warning -->

<!-- Fade In Modal addgroup -->
<div class="modal fade" id="modal-addgroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Form registry</h3>
                </div>
                <div class="block-content">
                    <div class="block-content block-content-narrow">
                        <form class="form-horizontal push-10-t" action="base_forms_elements_modern.html" method="post" onsubmit="return false;">                            
                            <div class="form-group">
                                <label class="col-xs-12">Home ID</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="homeID" name="homeID" value="17" ng-model ="homeID" placeholder="Please input Home ID...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12">Group Name</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="groupName" name="groupName" placeholder="Please input group name..." value="" ng-model="groupName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-12">Description</label>
                                <div class="col-xs-12">
                                    <textarea class="form-control" id="description" name="description" rows="4" placeholder="Please input description">{{description}}</textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click="addgroup()"><i class="fa fa-check"></i> Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- END Fade In Modal addgroup -->

<!-- Fade In Modal editgroup -->
<div class="modal fade" id="modal-editgroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Group information</h3>
                </div>
                <div class="block-content">
                    <div class="block-content block-content-narrow">
                        <form class="form-horizontal push-10-t" action="base_forms_elements_modern.html" method="post" onsubmit="return false;">                            
                            <div class="form-group">
                                <label class="col-xs-12">Group ID</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="edithomeID" name="edithomeID" value="" ng-model="edithomeID" readonly="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12">Group Name</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="editgroupName" name="editgroupName" value="" ng-model="editgroupName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-12">Description</label>
                                <div class="col-xs-12">
                                    <textarea class="form-control" id="editdescription" name="editdescription" rows="4" placeholder="Please input description" ng-model="editdescription">{{editdescription}}</textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click="editgroup()"><i class="fa fa-check"></i> Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- END Fade In Modal editgroup -->



