<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('images/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">{{title}}</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed"> 
    <div class="block">
        <div class="block-header">
            <div class="block-options">
                <code>Form add new devices</code>
            </div>
        </div>
    </div>
</div>
<!-- END Page Content -->

