<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" ng-app="iotapp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>smart home controller</title>

        <meta name="description" content="OneUI - Admin Dashboard Template & UI Framework created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="images/favicons/favicon.png">

        <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="images/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">



        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="styles/themes/flat.min.css"> -->

        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <!-- OneUI CSS framework -->
        <link rel="stylesheet" id="css-main" href="styles/oneui.css">


        <!-- Page JS Plugins CSS -->

        <!-- endbuild -->

        <!-- END Stylesheets -->
    </head>
    <body>

        <main id="main-container">                
            <div style="position:relative;
                 top: 50%;
                 left: 50%;
                 width: 800px;
                 height: 200px;
                 margin-top: 100px;
                 margin-left: -200px;">
                <div class="col-lg-6">
                    <!-- Icon Based -->
                    <div class="block block-themed">
                        <div class="block-header bg-primary">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                </li>
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                </li>
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">Login</h3>
                        </div>
                        <div class="block-content">
                            <div class="modal-body">
                                <form novalidate="novalidate">
                                    <div class="input-group" style="color: red;">
                                        {{msg}}
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" ><i class="fa fa-user"></i></span>
                                        <input class="form-control" type="text" ng-model="localUser.uname" placeholder="Username">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="si si-key"></i></span>
                                        <input class="form-control" type="password" ng-model="localUser.passwd" placeholder="Password">
                                    </div>
                                    <br/>
                                    <div class="form-group" style="text-align: center;">
                                        <a ng-click="login()" class="btn btn-small btn-primary">Login</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END Icon Based -->
                </div>
            </div>
        </main>
        <!-- END Main Container -->
        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/core/jquery.min.js"></script>
        <script src="scripts/core/bootstrap.min.js"></script>
        <script src="scripts/core/jquery.slimscroll.min.js"></script>
        <script src="scripts/core/jquery.scrollLock.min.js"></script>
        <script src="scripts/core/jquery.appear.min.js"></script>
        <script src="scripts/core/jquery.countTo.min.js"></script>
        <script src="scripts/core/jquery.placeholder.min.js"></script>
        <script src="scripts/core/js.cookie.min.js"></script>
        <script src="scripts/app.js"></script>

        <script src="scripts/main.js"></script>
        <script src="scripts/pages/menu.js"></script>

        <script src="scripts/services/serviceconfig.js"></script>
        <script src="scripts/services/sessionservice.js"></script>
        <script src="scripts/services/groupdeviceservice.js"></script>        
        <script src="scripts/services/definedeviceservice.js"></script>        
        <script src="scripts/services/servicedefine.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/services/errorcmdservice.js"></script>


        <script src="scripts/controllers/mainCtrl.js"></script>
        <script src="scripts/controllers/groupdevicelist.js"></script>
        <script src="scripts/controllers/definedevice.js"></script>
        <script src="scripts/controllers/detailgroup.js"></script>
        <script src="scripts/controllers/addgroup.js"></script>
        <script src="scripts/controllers/login.js"></script>



        <!-- endbuild -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->


        <!-- Page JS Code -->
        <script>
                                            $(function () {
                                                // Init page helpers (Table Tools helper)
                                                App.initHelpers('table-tools');
                                            });
        </script>

    </body>
</html>