<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('images/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">{{title}}</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<!-- END Page Header -->
<div class="content content-boxed"> 
    {{listdevicedefined}}
</div>

<!-- Page Content -->
<div class="content content-boxed"> 

    <div class="block-header">
        <button class="btn btn-minw btn-rounded btn-default" type="button" data-toggle="modal" data-target="#modal-fadein" ng-click="createDeviceCode()"><i class="glyphicon glyphicon-save fa-2x"></i> DEFINE NEW DEVICE</button>
        <div class="block-options">
            <code>List device defined</code>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr class="success">
                    <th style="vertical-align: middle;text-align: center;">CODE</th>
                    <th>NAME</th>
                    <th>PROPERTY</th>
                    <th>DESCRIPTION</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in listdevicedefined">
                    <td style="vertical-align: middle;text-align: center;">{{item.code}}</td>
                    <td style="vertical-align: middle;">{{item.name}}</td>
                    <td style="vertical-align: middle;">
                        <div ng-repeat="x in item.property">
                            {{x}}<br/>                            
                        </div>
                    </td>
                    <td style="vertical-align: middle;">{{item.description}}</td>
                    <td style="vertical-align: middle; text-align: center;">
                        <button class="btn btn-sm btn-primary" type="submit" data-toggle="modal" data-target="#modal-fadein" ng-click="editDeviceDefined(item.code, item.name, item.description, item.property)">Edit</button>
                    </td>
                </tr>               
            </tbody>
        </table>
    </div>
</div>
<!-- Fade In Modal -->
<div class="modal fade" id="modal-fadein" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Form registry</h3>
                </div>
                <div class="block-content">
                    <div class="block-content block-content-narrow">
                        <form class="form-horizontal push-10-t" action="base_forms_elements_modern.html" method="post" onsubmit="return false;">                            
                            <div class="form-group">
                                <label class="col-xs-12" for="example-email-input">Device code</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="example-email-input" name="example-email-input" value="{{deviceCode}}" placeholder="Please input device code..." readonly="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-email-input">Device name</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="example-email-input" name="example-email-input" placeholder="Please input device code..." value="{{deviceName}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-email-input">Description</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="example-email-input" name="example-email-input" placeholder="Please input Description..." value="{{deviceDesc}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-textarea-input">Property</label>
                                <div class="col-xs-12">
                                    <textarea class="form-control" id="example-textarea-input" name="example-textarea-input" rows="4" placeholder="Please input content & press enter">{{deviceProperty}}</textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- END Fade In Modal -->

<!-- END Page Content -->

