<hr/>	
<div class="block">
	<div class="block-content">
		<div class="block-header">
			<div class="block-options">
				<code>Detail device</code>
			</div>
		</div>
		<div class="content-content">
			<table class="table table-bordered">
				<thead>
					<tr class="success">
						<th>Property</th>
						<th colspan="3">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="vertical-align: middle;">Name</td>
						<td style="vertical-align: middle;" colspan="3">{{deviceName}}</td>
					</tr>               
					<tr>
						<td style="vertical-align: middle;">Description</td>
						<td style="vertical-align: middle;" colspan="3">{{description}}</td>
					</tr>               
					<tr>
						<td style="vertical-align: middle;">Status / Value</td>
						<td style="vertical-align: middle;text-align: center;width: 25%;">
							<button class="btn btn-minw btn-rounded btn-default" type="button" ng-click="action(id)" data-toggle="modal" data-target="#modal_movedevice"> {{stt}}</button>   
						</td>
						<td style="vertical-align: middle;text-align: center;width: 25%;">
							Value: <b style="color: red;">{{value}}</b>
						</td>
						<td style="vertical-align: middle;text-align: center;width: 25%;">
							<img src='/images/devices-simulator/{{img}}' alt='img' height='42' width='42'>					
						</td>
					</tr>               
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="showChart" id ="showChart">
	<div class="block">
		<div class="block-content">
			<div class="row items-push">
				<div class="col-sm-3">
					<code>Chart area <br>[<b>{{nameviewchart}}</b>]</code>
				</div>
				<div class="col-sm-9" style="text-align: right;">
					<button class="{{day}}" type="button" ng-click="changeViewChart('day')" >day</button>
					<button class="{{week}}" type="button" ng-click="changeViewChart('week')">week</button>
					<button class="{{month}}" type="button" ng-click="changeViewChart('month')">month</button>
					<button class="{{year}}" type="button" ng-click="changeViewChart('year')" >year</button>
					<button class="{{realtime}}" type="button" ng-click="changeViewChart('realtime')">real time</button>
				</div>
			</div>
		</div>
		<div class="block-content">
			<div style="width:100%" id = "graph-container">
				<canvas id="canvas" height="100" width="600"></canvas>
			</div>
		</div>        
	</div>
</div>