<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('images/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">{{title}}</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed"> 
    <div class="block">
        <div class="block-header">
            <button class="btn btn-minw btn-rounded btn-default" type="button" data-toggle="modal" data-target="#modal-adddevice" ng-click="createDeviceCode()"><i class="glyphicon glyphicon-save fa-2x"></i> ADD DEVICE</button>
            <div class="block-options">
                <code>Detail group</code>
            </div>
        </div>
        <div>
            <table class="table table-condensed">
                <thead>
                    <tr class="info" >
                        <th style="width: 2%;"></th>
                        <th style="width: 20%;">Group name</th>
                        <th style="width: 5%;">ID</th>
                        <th style="width: 55%;">Description</th>
                        <th style="vertical-align: middle;width: 10%;"></th>
                        <th class="text-center"></th>
                        <th class="text-center" style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in data">
                        <td style="width: 2%;"></td>
                        <td class="font-w600 text-success" style="width: 20%;color: #737373;vertical-align: middle;">
                            <i class="si si-badge"></i> {{x.name}}
                        </td>
                        <td style="width: 5%;vertical-align: middle;">{{x.id}}</td>
                        <td style="width: 55%;vertical-align: middle;">{{x.description}}</td>
                        <td style="vertical-align: middle; width: 10%;" >
                            <button class="btn btn-minw btn-rounded btn-default" type="button" ng-click="changeStt(x.id, x.onOff)">{{x.stt}}</button>
                        </td>
                        <td class="text-center">
                            <img src="/images/devices-simulator/{{x.img}}" alt="Neol1" height="42" width="42"></td>
                        <td class="text-center" style="width: 10%;vertical-align: middle;">

                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#modal-small" title="" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>
<!-- END Page Content -->
<!-- Small Modal -->
<div class="modal" id="modal-small" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Xác nhận</h3>
                </div>
                <div class="block-content">
                    <p>
                        Bạn có muốn xóa thiết bị này không?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- END Small Modal -->

