<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('images/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">{{title}}</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<!-- END Page Header -->
<div class="block-content">
    <table class="table table-striped table-borderless table-header-bg">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Device type</th>
                <th class="text-center">Device #</th>
                <th class="text-center">Param #</th>
                <th>Device description</th>
                <th class="text-center" >Control action or measurement result</th>
                <th class="text-center" >Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="device in listdevices">
                <td class="text-center" style="vertical-align: middle;">{{device.id}}</td>
                <td style="vertical-align: middle;">{{device.devicetype}}</td>
                <td style="vertical-align: middle;">{{device.device}}</td>
                <td class="text-center" style="vertical-align: middle;">{{device.param}}</td>
                <td style="vertical-align: middle;">{{device.desct}}</td>
                <td class="text-center" style="vertical-align: middle;">
                    <button class="btn btn-minw btn-rounded btn-default" type="button" ng-click="changeStt(device.id)">
                        {{device.control}}
                    </button>
                </td>
                <td style="vertical-align: middle;">
                    <img src="/images/devices-simulator/{{device.status}}" alt="Smiley face" height="42" width="42">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<tbody class="js-table-sections-header open">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">{{x.name}}</td>
                        <td>
                            {{x.id}}
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td class="text-center">
                            {{x.numDevice}}
                        </td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center" style="vertical-align: middle;"></td>
                        <td class="font-w600 text-success" style="vertical-align: middle;">+ {{y.name}}</td>
                        <td style="vertical-align: middle;">
                            {{y.id}}
                        </td>
                        <td style="vertical-align: middle;">
                            Bóng đèn nhà tắm
                        </td>

                        <td style="vertical-align: middle;" >
                            <button class="btn btn-minw btn-rounded btn-default" type="button">ON</button>
                        </td>   
                        <td class="text-center" style="vertical-align: middle;">
                            <img src="/images/devices-simulator/light-on.png" alt="Neol1" height="42" width="42">
                        </td>
                    </tr>
                </tbody>