<div class="span6">
    <table st-table="doors" st-safe-src="doorList" class="table table-striped table-condensed">
        <thead>
            <tr><th colspan="5"><a ng-click="createDoor()" class="btn btn-small btn-primary" title="Create">Add Sensor</a><br/><br/></th></tr>
            <tr>
                <th st-sort="name" style="min-width: 40px;">Name</th>
                <th st-sort="description" style="min-width: 40px;">Description</th>
                <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                <th st-sort="major" style="min-width: 20px;">Major</th>
                <th st-sort="minor" style="min-width: 20px;">Minor</th>
                <th st-sort="id" style="min-width: 20px;">ID</th>
                <th st-sort="dateCreated" style="min-width: 40px;">Create</th>
                <th st-sort="dateUpdated" style="min-width: 40px;">Last Update</th>
                <th style="min-width: 40px;">Groups</th>
                <th style="width:20px;"> </th>
                <th style="width:20px;"> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="door in doors">
                <td>{{ door.name}}</td>
                <td>{{ door.description}}</td>
                <td>{{ door.uuid}}</td>
                <td>{{ door.major}}</td>
                <td>{{ door.minor}} </td>
                <td>{{ door.id}}</td>
                <td>{{ door.dateCreated}}</td>
                <td>{{ door.dateUpdated}}</td>
                <td>
                    <span ng-repeat="group in door.groups">
                        {{group.name}}
                    </span>
                </td>			
                <td><a ng-click="viewDoorDetail(door.uuid, door.major, door.minor)" class="btn btn-small btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a ng-click="removeDoor(door.uuid, door.major, door.minor)" class="btn btn-small btn-primary" title="Xóa"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        </tbody>
    </table>
    <pagination ng-model="currentPage" 
                total-items="totalItems" items-per-page="itemPerPage" 
                ng-change="pageChanged()"></pagination>
</div>
