<div class="modal-body">
    <form ng-show="!hasGroup" novalidate="novalidate">
	<div class="form-group">
	    <label class="form-control-static">Name:</label>
	    <input class="form-control input-sm" type="text" ng-model="newGroup.name" />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Description:</label>
	    <input class="form-control input-sm" type="text" ng-model="newGroup.description" />
	</div>
	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Create</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>

    <form ng-show="hasGroup" novalidate="novalidate">
	<div class="form-group">
	    <label class="form-control-static">Name:</label>
	    <input class="form-control input-sm" type="text" ng-model="localGroup.name" />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Description:</label>
	    <input class="form-control input-sm" type="text" ng-model="localGroup.description" />
	</div>
	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Update</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>
</div>
