<ul class="nav nav-tabs">
	<li class="{{x.active}}" ng-repeat="x in data" ng-click="changeGroup(x.id)"><a href="#/{{hgid}}/{{action}}/{{x.id}}">{{x.name}}</a></li>
</ul>
<div class="block">
	<div class="block-header">        
		<div class="block-options">
			<button class="btn btn-minw btn-rounded btn-default" type="button" ng-click="iniInfo()" data-toggle="modal" data-target="#modal_movedevice"><i class="glyphicon glyphicon-fast-forward fa-2x"></i> Move device</button>   
			<button class="btn btn-minw btn-rounded btn-default" type="button" data-toggle="modal" data-target="#modal-adddevice"><i class="glyphicon glyphicon-save fa-2x" ng-click="iniInfo()"></i> Add device</button>            
		</div>
	</div>
	<br/>
	<table class="table table-condensed">
		<thead>
			<tr class="info" >
				<th style="width: 2%;"></th>
				<th style="width: 5%;">ID</th>
				<th style="width: 20%;">Device name</th>                
				<th style="width: 55%;">Description</th>
				<th style="vertical-align: middle;width: 10%;"></th>
				<th class="text-center"></th>
				<th class="text-center" style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in deviceingroup">
				<td style="width: 2%;vertical-align: middle;">
					<input type="checkbox" name="deviceselected" value="{{x.id}}">
				</td>
				<td style="width: 5%;vertical-align: middle;">{{x.id}}</td>
				<td class="font-w600 text-success" style="width: 20%;color: #737373;vertical-align: middle;">
					<a href="#/{{hgid}}/home/{{groupIdDefault}}/{{x.id}}" ng-click="viewdetail(x.id)">{{x.name}}</a>
				</td>                
				<td style="width: 55%;vertical-align: middle;">{{x.description}}</td>
				<td style="vertical-align: middle; width: 10%;" >
					<button class="btn btn-minw btn-rounded btn-default" type="button" ng-click="action(x.id, x.onOff)">{{x.stt}}</button>
				</td>
				<td class="text-center" style="vertical-align: middle;">
					<div ng-show="{{x.showImg}}">
						<img src='/images/devices-simulator/{{x.img}}' alt='img' height='42' width='42'>    
					</div>
					<div ng-show="{{x.showVal}}" style="vertical-align: middle;">
						<p>
							<b>{{x.properties.value}}</b>
						</p>
					</div>
				</td>  
				<td class="text-center" style="width: 10%;vertical-align: middle;">

					<button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i></button>
					<button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#modal-deletedevice" title="" data-original-title="Remove Client" ng-click="getDeviceInformation(x.id, x.name)"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</tbody> 
	</table>
</div>
<hr/>
<div class="showChart">
	<div class="block">
		<div class="block-content">
			<div class="row items-push">
				<div class="col-sm-3">
					<code>Chart area <br>[<b>{{nameviewchart}}</b>]</code>
				</div>
				<div class="col-sm-9" style="text-align: right;">
					<button class="{{day}}" type="button" ng-click="changeViewChart('day')">day</button>
					<button class="{{week}}" type="button" ng-click="changeViewChart('week')">week</button>
					<button class="{{month}}" type="button" ng-click="changeViewChart('month')">month</button>
					<button class="{{year}}" type="button" ng-click="changeViewChart('year')">year</button>
					<button class="{{realtime}}" type="button" ng-click="changeViewChart('realtime')">real time</button>
				</div>
			</div>
		</div>
		<div class="block-content">
			<div style="width:100%" id = "graph-container">
				<canvas id="canvas" height="100" width="600"></canvas>
			</div>
		</div>        
	</div>
</div>

<div class="showValue">
	<div class="block-content">
		<code>Detail random device</code>
		
		<div class="content-content">
			<table class="table table-bordered" >
				<thead>
					<tr class="success">
						<th>Property</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="vertical-align: middle;">ID</td>
						<td style="vertical-align: middle;">{{deviceID}}</td>
					</tr>               
					<tr>
						<td style="vertical-align: middle;">Name</td>
						<td style="vertical-align: middle;">{{deviceName}}</td>
					</tr>               
					<tr>
						<td style="vertical-align: middle;">Description</td>
						<td style="vertical-align: middle;">{{description}}</td>
					</tr>               
					<tr>
						<td style="vertical-align: middle;">Status / Value</td>
						<td style="vertical-align: middle;width: 70%;color: red;">
							<p>{{value}}</p>
						</td>							
					</tr>               
				</tbody>
			</table>
		</div>
	</div>
</div>



<!--<div class="col-lg-12">
     Live Chart 
    <div class="block">
        <div class="block-content">
            <div class="row items-push">
                <div style="width:100%">
                    <canvas id="myChart" height="100" width="900"></canvas>
                </div>
            </div>
        </div>
    </div>
     END Live Chart 
</div>-->



<button class="go-top" style="right: 20px;" ng-click="gotoTop()">
	<i class="fa fa-arrow-circle-up fa-2x"></i>
</button>






<!-- Small Modal delete device-->
<div class="modal" id="modal-deletedevice" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Xác nhận</h3>
				</div>
				<div class="block-content">
					<p>
						Bạn có muốn xóa thiết bị này không?
					</p>
					<p>
						[ID: <b>{{deviceIdif}}</b>, Name: <b>{{deviceNameif}}</b>]
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click="deletedevice()"><i class="fa fa-check"></i> Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- END Small Modal delete device-->
<!-- Small Modal delete group-->
<div class="modal" id="modal-deletegroup" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Xác nhận</h3>
				</div>
				<div class="block-content">
					<p>
						Bạn có muốn xóa group này không?
					</p>
					<p>
						[ID: <b>{{groupIdif}}</b>, name: <b>{{groupNameif}}</b>]
					</p>

				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click="deletegroup()"><i class="fa fa-check"></i> Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- END Small Modal delete group -->


<!-- Fade In Modal add group -->
<div class="modal fade" id="modal-addgroup" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Form registry group</h3>
				</div>
				<div class="block-content">
					<div class="block-content block-content-narrow">
						<form class="form-horizontal push-10-t" action="base_forms_elements_modern.html" method="post" onsubmit="return false;">
							<div class="form-group">
								<label class="col-xs-12">Group Name</label>
								<div class="col-sm-12">
									<input class="form-control" type="text" id="groupName" name="groupName" placeholder="Please input group name..." value="" ng-model="groupName">
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-12">Description</label>
								<div class="col-xs-12">
									<textarea class="form-control" id="description" name="description" rows="4" placeholder="Please input description">{{description}}</textarea>
								</div>
							</div>

						</form>
					</div>
				</div>               
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click="addgroup()"><i class="fa fa-check"></i> Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- END Fade In Modal add group -->


<!-- Fade In Modal add device -->
<div class="modal fade" id="modal-adddevice" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Form registry device</h3>
				</div>
				<div class="block-content">
					<div class="block-content block-content-narrow">
						<form class="form-horizontal push-10-t" action="base_forms_elements_modern.html" method="post" onsubmit="return false;">          
							<table style="width:100%">                                
								<tr>
									<td>Group Name</td>
									<td style="padding: 2px;">
										<div class="col-sm-12">
											<input class="form-control" type="text" name="groupName" ng-model ="GroupName" placeholder="Please input Group Name..." ng-readonly="true">
										</div>
									</td>		
								</tr>

								<tr>
									<td>Device Type</td>
									<td style="padding: 2px;">
										<div class="col-sm-12">
											<select ng-click="selectdeviceid()" id = "deviceType" style="height: 35px;width: 100%;">
												<option value="">---Lựa chọn thiết bị---</option>
												<option value="100">Đèn</option>
												<option value="101">Ti vi</option>
												<option value="102">Tủ lạnh</option>
												<option value="103">Điều hòa</option>
												<option value="104">Quạt</option>
												<option value="105">Cửa</option>
												<option value="106">Nhiệt kế</option>
												<option value="107">Ẩm kế</option>
											</select>
										</div>
									</td>		
								</tr>                                
								<tr>
									<td>Device Name</td>
									<td style="padding: 2px;">
										<div class="col-sm-12">
											<input class="form-control" type="text" name="deviceName" placeholder="Please input device name..." value="" ng-model="deviceName">
										</div>
									</td>		
								</tr>
								<tr>
									<td>Description</td>
									<td style="padding: 2px;">
										<div class="col-sm-12">
											<textarea class="form-control" name="description" rows="3" placeholder="Please input description..." ng-model="description"></textarea>
										</div>
									</td>		
								</tr>                                
							</table>
						</form>
					</div>
				</div>               
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click="adddevice(GroupID)"><i class="fa fa-check"></i> Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- END Fade In Modal add device -->

<!-- Fade In Modal move device -->
<div class="modal fade" id="{{modal_movedevice}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Move device</h3>
				</div>
				<div class="block-content">
					<div class="block-content block-content-narrow">
						<form class="form-horizontal push-10-t" action="base_forms_elements_modern.html" method="post" onsubmit="return false;">          
							<table style="width:100%">                                
								<tr>
									<td>Device Name</td>
									<td style="padding: 2px;">
										<div class="col-sm-12">
											<input class="form-control" type="text" name="movedeviceName" ng-model ="movedeviceName" placeholder="Please input device Name..." ng-readonly="true">
										</div>
									</td>		
								</tr>

								<tr>
									<td>Group to</td>
									<td style="padding: 2px;">
										<div class="col-sm-12">
											<select id = "groupTo" style="height: 35px;width: 100%;" ng-click="selectGroupTo()">
												<option  ng-repeat="x in listgroup" value="{{x.id}}">{{x.name}}</option>                                                   
											</select>
										</div>
									</td>		
								</tr>                                
							</table>
						</form>
					</div>
				</div>               
			</div>
			<br>
			<br>
			<div class="modal-footer">
				<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click="movedevice(GroupID)"><i class="fa fa-check"></i> Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- END Fade In Modal move device -->
<!-- Small Modal -->
<div class="modal" id="{{warning}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Warning</h3>
				</div>
				<div class="block-content">
					<p>
						Please select device. 
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- END Small Modal -->




