<div class="block-content">
    <table class="js-table-sections table table-hover">
        <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th>Name</th>
                <th style="width: 15%;">Access</th>
                <th class="hidden-xs" style="width: 15%;">Date</th>
            </tr>
        </thead>
        <tbody class="js-table-sections-header open">
            <tr>
                <td class="text-center">
                    <i class="fa fa-angle-right"></i>
                </td>
                <td class="font-w600">Amy Hunter</td>
                <td>
                    <span class="label label-danger">Disabled</span>
                </td>
                <td class="hidden-xs">
                    <em class="text-muted">June 15, 2015 12:16</em>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $20,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 17, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $18,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 24, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $76,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 17, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $79,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 5, 2015 12:16</small>
                </td>
            </tr>
        </tbody>
        <tbody class="js-table-sections-header">
            <tr>
                <td class="text-center">
                    <i class="fa fa-angle-right"></i>
                </td>
                <td class="font-w600">Ashley Welch</td>
                <td>
                    <span class="label label-warning">Trial</span>
                </td>
                <td class="hidden-xs">
                    <em class="text-muted">June 15, 2015 12:16</em>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $21,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 14, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $41,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 9, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $64,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 11, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $51,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 16, 2015 12:16</small>
                </td>
            </tr>
        </tbody>
        <tbody class="js-table-sections-header">
            <tr>
                <td class="text-center">
                    <i class="fa fa-angle-right"></i>
                </td>
                <td class="font-w600">Tiffany Kim</td>
                <td>
                    <span class="label label-info">Business</span>
                </td>
                <td class="hidden-xs">
                    <em class="text-muted">June 20, 2015 12:16</em>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $15,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 15, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $10,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 21, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $77,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 22, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $68,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 3, 2015 12:16</small>
                </td>
            </tr>
        </tbody>
        <tbody class="js-table-sections-header">
            <tr>
                <td class="text-center">
                    <i class="fa fa-angle-right"></i>
                </td>
                <td class="font-w600">Emma Cooper</td>
                <td>
                    <span class="label label-success">VIP</span>
                </td>
                <td class="hidden-xs">
                    <em class="text-muted">June 22, 2015 12:16</em>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $51,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 17, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $88,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 6, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $27,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 4, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $66,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 12, 2015 12:16</small>
                </td>
            </tr>
        </tbody>
        <tbody class="js-table-sections-header">
            <tr>
                <td class="text-center">
                    <i class="fa fa-angle-right"></i>
                </td>
                <td class="font-w600">Vincent Sims</td>
                <td>
                    <span class="label label-warning">Trial</span>
                </td>
                <td class="hidden-xs">
                    <em class="text-muted">June 23, 2015 12:16</em>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $41,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 3, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $27,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 12, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $52,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 12, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $25,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 19, 2015 12:16</small>
                </td>
            </tr>
        </tbody>
        <tbody class="js-table-sections-header">
            <tr>
                <td class="text-center">
                    <i class="fa fa-angle-right"></i>
                </td>
                <td class="font-w600">Amy Hunter</td>
                <td>
                    <span class="label label-primary">Personal</span>
                </td>
                <td class="hidden-xs">
                    <em class="text-muted">June 16, 2015 12:16</em>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $33,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 26, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $80,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 15, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $65,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 1, 2015 12:16</small>
                </td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="font-w600 text-success">+ $62,00</td>
                <td>
                    <small>Paypal</small>
                </td>
                <td class="hidden-xs">
                    <small class="text-muted">June 16, 2015 12:16</small>
                </td>
            </tr>
        </tbody>
    </table>
</div>