<div class="modal-body">
	<form novalidate="novalidate">
		<div class="form-group">
			<label class="form-control-static">Username:</label>
			<input class="form-control input-sm" type="text" ng-model="localUser.uname" />
		</div>
		<div class="form-group">
			<label class="form-control-static">Password:</label>
			<input class="form-control input-sm" type="password" ng-model="localUser.passwd"/>
		</div>
		<div class="form-group">
			<a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
			<a ng-click="login()" class="btn btn-small btn-primary">Login</a>
		</div>
		<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
	</form>
</div>
