<div style="position:relative;
     top: 50%;
     left: 50%;
     width: 800px;
     height: 200px;
     margin-top: 100px;
     margin-left: -200px;">
    <div class="col-lg-6">
        <!-- Icon Based -->
        <div class="block block-themed">
            <div class="block-header bg-primary">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Login</h3>
            </div>
            <div class="block-content">
                <div class="modal-body">
                    <form novalidate="novalidate">
                        <div class="input-group" style="color: red;">
                            {{msg}}
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" ><i class="fa fa-user"></i></span>
                            <input class="form-control" type="text" ng-model="localUser.uname" placeholder="Username">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="si si-key"></i></span>
                            <input class="form-control" type="password" ng-model="localUser.passwd" placeholder="Password">
                        </div>
                        <br/>
                        <div class="form-group" style="text-align: center;">
                            <a ng-click="login()" class="btn btn-small btn-primary">Login</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- END Icon Based -->
    </div>
</div>

