<div class="modal-body">

    <form novalidate="novalidate">
	<div class="form-group">
	    <input type="text" class="form-control"  ng-model="selectedUser" placeholder="userName">
	</div>

	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Register</a>
	</div>

	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>


</div>
