<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('images/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">{{title}}</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<!-- END Page Header -->
<div class="block">
	<div class="block-content">
		<h1>
			Search with key "{{key}}"
		</h1>
		<div class="block-header">
			<div class="block-options" ng-show="">
				<code>Total result: {{total}}</code>
			</div>
		</div>
		<div class="content-content">

			<table class="table table-condensed">
				<thead>
					<tr class="info" >
						<th style="width: 2%;"></th>
						<th style="width: 5%;">ID</th>
						<th style="width: 20%;">Device name</th>                
						<th style="width: 55%;">Description</th>
						<th style="vertical-align: middle;width: 10%;"></th>
						<th class="text-center"></th>
						<th class="text-center" style="width:10%"></th>
					</tr>
				</thead>
				<tbody ng-repeat="items in data">
					<tr ng-show="items.devices.length > 0" ng-repeat="x in items.devices| filter:key">
						<td style="width: 2%;vertical-align: middle;">
							<input type="checkbox" name="deviceselected" value="{{x.id}}">
						</td>
						<td style="width: 5%;vertical-align: middle;">{{x.id}}</td>
						<td class="font-w600 text-success" style="width: 20%;color: #737373;vertical-align: middle;">
							<a href="#/{{hgid}}/home/{{groupIdDefault}}/{{x.id}}" ng-click="viewdetail(x.id)">{{x.name}}</a>
						</td>                
						<td style="width: 55%;vertical-align: middle;">{{x.description}}</td>
						<td style="vertical-align: middle; width: 10%;" >
							<button class="btn btn-minw btn-rounded btn-default" type="button" ng-click="action(x.id, x.onOff)">{{x.stt}}</button>
						</td>
						<td class="text-center" style="vertical-align: middle;">
							<div ng-show="{{x.showImg}}">
								<img src='/images/devices-simulator/{{x.img}}' alt='img' height='42' width='42'>    
							</div>
							<div ng-show="{{x.showVal}}" style="vertical-align: middle;">
								<p>
									<b>{{x.properties.value}}</b>
								</p>
							</div>
						</td>  
						<td class="text-center" style="width: 10%;vertical-align: middle;">

							<button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i></button>
							<button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#modal-deletedevice" title="" data-original-title="Remove Client" ng-click="getDeviceInformation(x.id, x.name)"><i class="fa fa-times"></i></button>
						</td>
					</tr>
				</tbody> 

			</table>
			
		</div>
	</div>
</div>
<div class="showChart">
	<div class="block">
		<div class="block-content">
			<div class="row items-push">
				<div class="col-sm-3">
					<code>Chart area <br>[<b>{{nameviewchart}}</b>]</code>
				</div>
				<div class="col-sm-9" style="text-align: right;">
					<button class="{{day}}" type="button" ng-click="changeViewChart('day')" >day</button>
					<button class="{{week}}" type="button" ng-click="changeViewChart('week')">week</button>
					<button class="{{month}}" type="button" ng-click="changeViewChart('month')">month</button>
					<button class="{{year}}" type="button" ng-click="changeViewChart('year')" >year</button>
					<button class="{{realtime}}" type="button" ng-click="changeViewChart('realtime')">real time</button>
				</div>
			</div>
		</div>
		<div class="block-content">
			<div style="width:100%" id = "graph-container">
				<canvas id="canvas" height="100" width="600"></canvas>
			</div>
		</div>        
	</div>
</div>