<!DOCTYPE html>

<div class="span6" >
    <table class="table table-striped table-condensed" >
	<thead>
	    <tr>
		<th colspan="5">
		    <button ng-click="addUser()" class="btn btn-small btn-primary" title="Add">Add User <span class="glyphicon glyphicon-plus-sign"/></button>
		    <br/><br/>
		</th>
	    </tr>
	    <tr>
		<th style="min-width: 80px;">UserId</th>
		<th style="min-width: 80px;">Name</th>
		<th style="min-width: 40px;">Create</th>
		<th style="min-width: 40px;">Last Update</th>
		<th style="min-width: 80px;">Groups </th>
		<th style="width:20px;"> </th>
	    </tr>
	</thead>
	<tbody>
	    <tr ng-repeat="anUser in users">
		<td>{{ anUser.id}}</td>
		<td >{{ anUser.name}}</td>
		<td>{{ anUser.dateCreated}} </td>
		<td>{{ anUser.dateUpdated}} </td>		
		<td>
		    <span ng-repeat="anGroup in anUser.groups">
			{{anGroup.name}}
		    </span>
		</td>

		<td><a ng-click="viewUserDetail(anUser.id)" class="btn btn-small btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-edit"></span></a></td>
	    </tr>
	</tbody>
    </table>

    <pagination ng-model="currentPage"  total-items="totalItems" items-per-page="itemPerPage" ng-change="pageChanged()"></pagination>
</div>
