<div class="modal-body">

    <form ng-show="!hasUser" novalidate="novalidate">
	<div class="form-group">
	    <label class="form-control-static">Username:</label>
	    <input class="form-control input-sm" type="text" ng-model="newUser.uname" />
	</div>

	<div class="form-group">
	    <label class="form-control-static">Password:</label>
	    <input class="form-control input-sm" type="password" ng-model="newUser.passwd"/>
	</div>
	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Create</a>
	</div>

	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>

    <form ng-show="hasUser" novalidate="novalidate">
	<div class="form-group">
	    <label class="form-control-static">Username:</label>	    
	    <p class="form-control-static input-sm"> {{localUser.uname}}</p>
	</div>

	<div class="form-group" >
	    <label class="form-control-static">{{passTitle}}</label>
	    <input class="form-control input-sm" type="password" ng-model="localUser.passwd"/>
	</div>

	<div class="form-group">
	    <label class="form-control-static">New Password:</label>
	    <input class="form-control input-sm" type="password" ng-model="localUser.newPasswd"/>
	</div>

	<div class="form-group">
	    <label class="form-control-static">Repeat Password:</label>
	    <input class="form-control input-sm" type="password" ng-model="localUser.repeatPasswd"/>
	</div>


	<div class="form-group" ng-show="localUser.groups.length !== 0" novalidate="novalidate">
	    <table class="table table-striped table-hover table-responsive">		
		<thead>
		    <tr>
			<th >Group</th>
			<th >Description</th>						
		    </tr>
		</thead>

		<tbody >
		    <tr ng-repeat="group in localUser.groups" >		
			<th>{{group.name}}</th>
			<th>{{group.description}}</th>					
		    </tr>
		</tbody>

	    </table>

	</div>

	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Update</a>
	</div>

	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>


</div>
